input {
    width: 200px;
}

button {
    width: 100px;
    height: 25px;
}

#content-box {
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding-left: 20px;
    padding-bottom: 20px;

    border: 2px dashed black;
}